@page "/"

<div class="content">
    <Destaque />

    <div>
        <ul class="filters">
            <li class="selected"><button>Todas</button></li>
            <li><button>A decorrer</button></li>
            <li><button>Futuramente</button></li>
            <li><button>Corporativas</button></li>
            <li><button>Individuais</button></li>
            <li><button>Mistas</button></li>
        </ul>
    </div> 
    <div class="grid">

        <CardFeira />
        <CardFeira />
        <CardFeira />
        <CardFeira />
        <CardFeira />
        <CardFeira />
        <CardFeira />
        <CardFeira />


    </div>

    <button class="pill-small load">Carregar mais</button>

 </div>

@code{

}