@page "/"

<Destaque imagem=@imagem titulo=@titulo descricao=@descricao data=@data/>

    <div>
        <ul class="filters">
            <li class="selected"><button>Todas</button></li>
            <li><button>A decorrer</button></li>
            <li><button>Futuramente</button></li>
            <li><button>Corporativas</button></li>
            <li><button>Individuais</button></li>
            <li><button>Mistas</button></li>
        </ul>
    </div> 
    <div class="grid">

        <CardFeira referencia="/feira"/>
        <CardFeira referencia="/feira" />
        <CardFeira referencia="/feira" />
        <CardFeira referencia="/feira" />
        <CardFeira referencia="/feira" />
        <CardFeira referencia="/feira" />
        <CardFeira referencia="/feira" />
        <CardFeira referencia="/feira" />


    </div>

    <button class="pill-small load">Carregar mais</button>


@code{
    public string imagem { get; set; } = "assets/shoes.jpg";
    
    public string titulo { get; set; } = "Título Feira";
    
    public string descricao { get; set; } = "Isto é a descrição da feira, pode ser tão extensa quanto se quiser, embora não dê muito jeito dado o espaço que temos aqui.";

    public string data { get; set; } = "Data da feira";
}