@page "/"

<div class="content">
    <div class="destaque white">
        <h1 class="txt-big">Expo Calçado e Materiais</h1>
        <p class="txt-mid">As melhores marcas estão de volta para te mostrar as novidades e as novas tecnologias do mercado do calçado.</p>
        <h1>11 a 30 de novembro</h1>
    </div>

    <div>
        <ul class="filters">
            <li class="selected"><button>Todas</button></li>
            <li><button>A decorrer</button></li>
            <li><button>Futuramente</button></li>
            <li><button>Corporativas</button></li>
            <li><button>Individuais</button></li>
            <li><button>Mistas</button></li>
        </ul>
    </div> 
    <div class="grid">

        <CardFeira />
        <CardFeira />
        <CardFeira />
        <CardFeira />
        <CardFeira />
        <CardFeira />
        <CardFeira />
        <CardFeira />


    </div>

    <button class="pill-small load">Carregar mais</button>

 </div>

@code{

}