@page "/banca"

<div class="align-h" style="align-self:start;">
         
    <div class="align-v">
            <MudCarousel Class="mud-width-full" Style="height:400px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
                <MudCarouselItem Transition="transition">
                    <div class="d-flex fill" style="height:100%; margin-left: auto;  margin-right: auto;">
                        <img src="/assets/camaras-vintage.jpg">
                    </div>
                </MudCarouselItem>

            <MudCarouselItem Transition="transition">
                <div class="d-flex fill" style="height:100%; margin-left: auto;  margin-right: auto;">
                    <img src="/assets/vintage-clothing.jpg">
                </div>
            </MudCarouselItem>
            </MudCarousel>
        <div class="grid" style="gap: 35px;">
            
            <div class="bancafeira_artigo">
                <div class="bancafeira_artigo_top">
                    <h2>Descrição do produto</h2>
                    <h3 class="txt-blue">Artigo</h3>
                </div>
            </div>
            <div class="bancafeira_artigo">
                <div class="bancafeira_artigo_top">
                    <h2>Descrição do produto</h2>
                    <h3 class="txt-blue">Artigo</h3>
                </div>
            </div>
            <div class="bancafeira_artigo">
                <div class="bancafeira_artigo_top">
                    <h2>Descrição do produto</h2>
                    <h3 class="txt-blue">Artigo</h3>
                </div>
            </div>
            <div class="bancafeira_artigo">
                <div class="bancafeira_artigo_top">
                    <h2>Descrição do produto</h2>
                    <h3 class="txt-blue">Artigo</h3>
                </div>
            </div>
                    
        </div>
                
    </div>
    <div class="vertical-align: top;">
    <Vendedor />
    </div>
</div>
        


@code {
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}
