@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #F2F2F2;
}

.content {
    padding-left: 20%;
    padding-right: 20%;
}

button:focus {
    outline: 0;
}

a, .btn-link {
    color: #00AFF0;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }


.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }


    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.topnav {
    padding-left: 20%;
    padding-right: 20%;
    height: 89px;
    left: 0px;
    top: 0px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-block-start: 0px;
    padding-block-end: 0px;
    margin-bottom: 20px;
}

    .topnav a {
        margin-top: auto;
        margin-bottom: auto;
    }

footer {
    background-color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 14%;
    padding-right: 14%;
}

.auth {
    align-self:end;
}

.user-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: auto;
    margin-bottom: auto;
    align-content: end;
}

.grid-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.grid-container-authorized {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-inline-end: 10px;
}

.navbar-icons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.icon img:hover {
    filter: invert(51%) sepia(48%) saturate(4116%) hue-rotate(165deg) brightness(103%) contrast(101%);
}

.icon img:active {
    filter: invert(51%) sepia(48%) saturate(4116%) hue-rotate(165deg) brightness(103%) contrast(101%);
}

.logo {
    float: left;
}

.logo img:hover {
    opacity: 0.6;
}

.avatar {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

    .auth a {
    text-align: right;
    text-decoration: none;
}

    .auth a:hover {
        color: grey;
    }

.button {
    background-color: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.auth button {
    background-color: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

    .auth button:hover {
        color: #00AFF0;
    }

.txt-smaller {
    font-size: smaller;
}

.txt-small {
    font-size: medium;
}

.txt-mid {
    font-size: 14px;
}

.txt-mid2 {
    font-size: 28px;
}

.txt-big {
    font-size: 34px;
}

.white {
    color: #FFFFFF;
}

.black {
    color: #000000;
}

.blue {
    color: #00AFF0;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

    .dropdown-content button {
        color: black;
        padding: 12px 12px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content button:hover {
            background-color: #ddd;
        }
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown button {
    background-color: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.content {
    padding: 0 11.5%;
}

.destaque {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    align-self: center;
    height: 30vh;
    background: #FFFFFF;
    border-radius: 16px;
    padding-left: 30px;
    padding-right: 60%;
    padding-top: 30px;
    background-size: 130%;
    background-repeat: no-repeat;
    background-image: linear-gradient(98.1deg, #00AFF0 0%, rgba(217, 217, 217, 0) 56.23%), url('');
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    animation-name: destaque-hoverout-img;
    animation-duration: 0.5s;
    background-size: 130%;
}

@keyframes destaque-hover-img {
    from {
        background-size: 130%;
    }

    to {
        background-size: 102%;
    }
}

@keyframes destaque-hoverout-img {
    from {
        background-size: 102%;
    }

    to {
        background-size: 130%;
    }
}

.destaque:hover {
    animation-name: destaque-hover-img;
    animation-duration: 0.5s;
    background-size: 102%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 21px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.feira {
    cursor: pointer;
}

.feira-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    align-self: center;
    max-width: 20vw;
    min-height: 16vh;
    height: 10vh;
    background: #FFFFFF;
    border-radius: 15px 15px 0px 0px;
    background-image: linear-gradient(120deg, #00AFF0 0%, rgba(217, 217, 217, 0) 60%), url('');
    padding-left: 20px;
    padding-top: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    animation-name: destaque-hoverout-img;
    animation-duration: 0.5s;
    background-size: 130%;
}

    .feira-top:hover {
        animation-name: destaque-hover-img;
        animation-duration: 0.5s;
        background-size: 102%;
    }

.feira-bottom {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    align-self: center;
    max-width: 20vw;
    max-height: 15vh;
    background: #FFFFFF;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    overflow: hidden;
}

    .feira-bottom button {
        border: none;
        background: none;
    }

    .feira-bottom .selected button {
        border: none;
        background: none;
    }

.wheight600 {
    font-weight: 600;
    padding-right: 30px;
}

.tipo {
    font-size: 12px;
    color: #828282;
}

.data {
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}

.pill-small {
    border: none;
    padding: 5px 15px;
    background-color: #00AFF0;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
}

.align-h {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.align-v {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.filters {
    padding-left: 10px;
    list-style: none;
    display: flex;
    gap: 15px;
}

    .filters button {
        border: none;
        font-size: 16px;
        color: #828282;
        cursor: pointer;
    }

    .filters .selected {
        border-bottom: 3px solid #00AFF0;
    }

        .filters .selected button {
            font-weight: 600;
            color: #00AFF0;
        }

button:hover {
    opacity: 80%;
}

.footer {
    background-color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 14%;
    padding-right: 14%;
}

.load {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main_login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.half_screen_left {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin-left: 0px;
    padding-left: 0px;
    overflow: hidden;
}

.half_screen_right {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.erro h1 {
    font-size: 75px;
}

.erro h2 {
    font-size: 20px;
}