<div style="background-color: #FFFFFF; border-radius: 12px; width: 365px; height: 161px;">
    <div class="align-h" style="padding: 5px;">
        <h2 class="wheight600">Etiquetas</h2>
        <img src="assets/tag.svg" alt="Tag" width="26">
    </div>
    <div class="grid_tagslist">
        <ul class="grid_tagslist_3">
            <li>Calçado</li>
            <li>Corporativa</li>
            <li>Sapatos</li>
            <li>Materiais</li>
            <li>Ortopedia</li>
            <li>Sapatilhas</li>
        </ul>
    </div>
</div>

@code {

}
