@page "/feira"

<Destaque imagem="assets/shoes.jpg" />

<h1 style="font-weight: 600; color: #00AFF0;">11 nov</h1>
<h1 style="font-weight: 600; font-size: 4em;">Expo Calçado e Materiais</h1>
<div class="line"></div>

        <div class="align-h">
            <div class="align-v">
                <div style="padding-right: 40%; padding-bottom:20%;">
                    <h2 style="font-size: 24px; font-weight: 600;">Acerca desta feira</h2><br>
                    <p style="font-size: 16px;">As melhores marcas estão de volta para te mostrar as novidades e as novas tecnologias do mercado do calçado.</p>
                </div>

                <div class="align-h">

                    <div class="align-h" >
                        <a style="padding-right: 10px;"><img src="assets/calendar.svg" alt="Calendar" width="58"></a>
                        <div class="align-v" style="margin-bottom: 14px; line-height: 14px;">
                            <label class="font-weight-bold">Data e hora</label>
                            <p class="grey">quinta, 11/11/2022, 09:00</p>
                            <p class="grey">sexta, 18/11/2022, 18:00</p>
                        </div>
                    </div>

                    <div class="align-h">
                        <a style="padding-right: 10px;"><img src="assets/corporate_only.svg" alt="Corporate" width="58"></a>
                        <div class="align-v" style="margin-bottom: 14px; line-height: 14px;">
                            <label class="font-weight-bold">Tipo</label>
                            <p class="grey">Corporativa</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="align-self:start;">
                <Etiquetas />
            </div>

        </div>


@code {

}
